@model UltraDatingHT17.Controllers.PostIndexViewModel
@using Microsoft.AspNet.Identity;

    @if (Model.Posts.Count != 0)
    {
        foreach (var item in Model.Posts)
        {

            <div class="shoutbox-entry">
                <span class="shoutbox-entry-author"><b>@Html.ActionLink(item.Sender.Firstname + " " + item.Sender.Lastname, "Profile", "Home", new { item.Sender.Id }, null)</b> - <span class="shoutbox-entry-date">@item.Date</span></span> 
                <p class="shoutbox-entry-content">
                    @Html.DisplayFor(modelItem => item.Content)
                </p>

                @if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
                    {
                    <span><a>@Html.ActionLink("Delete", "Delete", "Posts", new { Id = item.Id }, null)</a></span>
                }

            </div>

        }
    } else {
    <span class="gray">No shouts yet!</span><br />}