@model UltraDatingHT17.Controllers.PostIndexViewModel
@using Microsoft.AspNet.Identity;
<table class="table">
    <tr>
        <th>

        </th>
        <th></th>
    </tr>
    @if (Model.Posts != null)
    {
        foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Sender.Firstname + " " + item.Sender.Lastname, "Profile", "Home", new { item.Sender.Id }, null) posted:
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @if (HttpContext.Current.User.Identity.GetUserId().Equals(Model.Id))
                    {
                        @Html.ActionLink("Delete", "Delete","Posts", new { id = item.id },null)
                    }

                </td>
            </tr>
            <tr></tr>
        }
    }


</table>
