@model IEnumerable<UltraDatingHT17.Models.ApplicationUser>

@{
    ViewBag.Title = "Community";
    ViewBag.TitleBar = "Community";
    ViewBag.Activate = "community";
}

<h2>User search</h2>
@using (Html.BeginForm("Search", "Home"))
{

}

<div id="friendList">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        @Html.TextBox("name") <input type="submit" class="btn right" value="Search" />
    }
</div>
