@{
    ViewBag.Title = "Startsida";
    if (User.Identity.IsAuthenticated)
    {
        ViewBag.TitleBar = "Välkommen, " + (ViewData["FirstName"]) + "!";
    } else
    {
        ViewBag.TitleBar = "Välkommen!";
    }
    ViewBag.Activate = "home";
    }



<div id="columns">


    <div>
        <h2>Välkommen!</h2>
        <p>
            Välkommen till Ultra Dating, stans bästa datingsite. 
        </p>
    </div>

    <div>
        <h2>Goes?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus ex nec ligula vulputate aliquet. In scelerisque feugiat sapien eu blandit. Curabitur non neque in ex scelerisque porttitor vitae ac turpis. Pellentesque id erat gravida, ultrices
            mi nec, sodales quam. Curabitur tristique sem sagittis, sodales justo ut, dictum erat. Quisque sit amet turpis velit. Praesent at consectetur enim, id imperdiet nibh.
        </p>
    </div>

    <div>
        <h2>Here?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus ex nec ligula vulputate aliquet. In scelerisque feugiat sapien eu blandit. Curabitur non neque in ex scelerisque porttitor vitae ac turpis. Pellentesque id erat gravida, ultrices
            mi nec, sodales quam. Curabitur tristique sem sagittis, sodales justo ut, dictum erat. Quisque sit amet turpis velit. Praesent at consectetur enim, id imperdiet nibh. Nunc vehicula massa sed diam rhoncus, a maximus nisl imperdiet.
        </p>
    </div>



</div>