@{
    ViewBag.Title = "Log In";
    ViewBag.TitleBar = "Log In";
    ViewBag.Activate = "login";
}

<div id="login-form">
    <form action="">
        <label>Username</label>
        <input type="text" />

        <label>Password</label>
        <input type="password" />

        <input type="submit" class="btn right" value="Confirm" />

    </form>
</div>