
@{
    ViewBag.Title = "Register";
}

<h2>Enter your user credentials below</h2>

<div id="register-form">
    <form action="">
        <label>Username *</label>
        <input type="text" />

        <label>First Name *</label>
        <input type="text" />

        <label>Last Name *</label>
        <input type="text" />

        <label>Password *</label>
        <input type="password" />

        <label>Email</label>
        <input type="text" />

        <input type="submit" class="btn right" value="Confirm" />

        <span class="left"><i>Fields marked with * are required</i></span>

    </form>
</div>
<script>
$( document ).ready(function() {
changeActive('register', 'Register')
});</script>
