@model IEnumerable<UltraDatingHT17.Models.ApplicationUser>

@{
    ViewBag.Title = "Search";
    ViewBag.TitleBar = "Searching profiles";
    ViewBag.Activate = "community";
}

<table class="table">
    <tr>
        <th>
            <h2><b>Matched users:</b_></h2>
        </th>
        <th></th>
    </tr>


@if(Model.Count() != 0) { 
foreach (var item in Model) {
    <tr>
        <td>
            <span>@Html.ActionLink(item.Firstname + " " + item.Lastname, "Profile", "Home", new { username = item.UserName.Split('@')[0] }, null)</span>
        </td>
        
        @if (HttpContext.Current.User.Identity.Name.Equals(item.UserName))
        {
        <td><p>(You)</p></td>
        }
        else
        {
        <td>
            @Html.ActionLink("Add Friend", "Edit", new { id = item.Id }) 
        </td>
        }
        
    </tr>
    }
}
else
{
    
    <tr><td><h2><i class="gray">No matches.</i></h2></td></tr>
}

</table>
