@model IEnumerable<UltraDatingHT17.Models.ApplicationUser>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


<table class="table">
    <tr>
        <th>
            <p><b>Matched users:</b_></p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Firstname + " " + item.Lastname, "Profile", "Home", new { username = item.UserName.Split('@')[0] },null );
        </td>
        
        @if (HttpContext.Current.User.Identity.Name.Equals(item.UserName))
        {
        <td><p>(You)</p></td>
        }
        else
        {
        <td>
            @Html.ActionLink("Add Friend", "Edit", new { id = item.Id }) 
        </td>
        }
        
    </tr>
}

</table>
