.shoutbox-entry {
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

    .shoutbox-entry:last-child {
        border-bottom: 0px solid #999;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }

.shoutbox-entry-date {
    font-family: "Share" !important;
    font-size: 16px;
}

.shoutbox-entry-content {
    font-size: 14px;
    margin-bottom: 8px;
}

.shoutbox-entry-date {
    color: #777 !important;
}
